body
{
    font-family: Arial;
    font-size: 0.95em;
}

pre
{
    font-size: 1em;
}

.row
{
    margin-bottom: 4px;
    padding: 8px;
    border: #eee solid 1px;
    word-wrap: break-word;
}

.box {
    display: table;
    height: 50px;
}

.box span {
    display: table-cell;
    vertical-align: middle;
    padding-left: 8px;
}