body
{
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;
}

.box {
    display: table;
    height: 50px;
}

.box span {
    display: table-cell;
    vertical-align: middle;
    padding-left: 8px;
}

#output
{
    border: #eee solid 1px;
    padding: 4px;
    height: 400px;
    overflow-y: scroll;
}

#output_op
{
    border: #eee solid 1px;
    padding: 4px;
    height: 200px;
    overflow-y: scroll;
}

.row
{
    margin-bottom: 4px;
    padding: 8px;
    border: #eee solid 1px;
    word-wrap: break-word;
}